.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 25px;
    background-color:#F8FBF9;
    border-bottom: 1px solid lightgray

    .left{
        display: flex;
        flex-direction: row;
        gap:25px;

        
    .link{
        text-decoration: none;
        font-size: 20px;
        font-weight: 900;

    }
    .search{
        display: flex;
        justify-content:left;
        border: 1px solid black;
        border-radius: 20px;
        width:240px;
        padding-left: 7px;

        input{
            border: none;
    background-color: #F8FBF9;


        }
        
    }

    }

    .right{
        display: flex;
        flex-direction: row;
        gap: 25px;

        .user{
            .profile{
                width: 20px;
                height:20px;
            }
        }
    }
   
}