@import "../../style.scss";


.navbar{
    @include themify($themes) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 12px 25px;
        background-color:themed("bg");
        border-bottom: 1px solid themed("border");
        color: themed("textColor");
        position:sticky;
        top:0;
        z-index: 999;
       

        .left{
            display: flex;
            flex-direction: row;
            gap:25px;
            align-items: center;
            width:60%;

            @include tablet{
                margin-right: 10px;
    
            }

            .link_home{
                text-decoration: none;
                font-size: 20px;
                font-weight: 900;
                color: themed("textColor");
    
            }

            .link{
                text-decoration: none;
                color: themed("textColor");
                font-weight: 900;
                width: 24px;
                height: 24px;
                font-size: 22px;

            }
            
       
        .search{
            display: flex;
            justify-content:left;
            border: 1px solid black;
            border-radius: 20px;
            width:80%;
            padding-left: 7px;
            


            input{
                border: none;
                background-color: transparent;
                width:80%;
                color: themed("textColor");


                @include mobile{
                    display: none;

                }


            }

            input:focus{
                outline: none;
            }
        }
        }

        .right{
            display: flex;
            flex-direction: row;
            gap: 25px;
            align-items: center;
            @include mobile{
                display: none;

            }

            .link_profile{
                text-decoration: none;
                font-size: 15px;
                font-weight: 900;
                color: themed("textColor");

            }

            .user{
                display: flex;
                align-items: center;
                font-weight: 600;
                .profile{
                    width: 30px;
                    height:30px;
                    border-radius: 50%;
                    margin-right: 7px;
                    object-fit: cover;
                }
            }
        }
    
    }
}