.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;

    .left{
        display: flex;
        flex-direction: row;
        gap:25px;

        
    .link{
        text-decoration: none;

    }
    .search{
        display: flex;
        justify-content:left;
        border: 1px solid black;
        border-radius: 20px;
        width:240px;

        input{
            border: none;

        }
        
    }

    }

    .right{
        display: flex;
        flex-direction: row;
        gap: 25px;

        .user{
            .profile{
                width: 20px;
                height:20px;
            }
        }
    }
   
}