$theme:(
    light:(
        textColor:#000,
        bg:white,
        bgSoft:#f6f3f3,
        border:lightgray,
        textColorSoft:#555
    ),
    dark:(
        textColor:whitesmoke,
        bg:#222,
        bgSoft:#333,
        border:#444,
        textColorSoft:lightgray

    )
);

@mixin themify($themes) {
    @each $name, $values in $themes {
      .#{$theme}-theme {
        $theme-map: $values !global;
        @content;
      }
    }
  }
  @function themed($key) {
    @return map-get($theme-map, $key);
  }