$theme:(
    light:(
        textColor:#000,
        bg:white,
        bgSoft:#f6f3f3,
        border:lightgray,
        textColorSoft:#555
    ),
    dark:(
        textColor:whitesmoke,
        bg:#222,
        bgSoft:#333,
        border:#444,
        textColorSoft:lightgray

    )
)