.updates{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    width: 60%;
    height: 50%;
    z-index: 999;

    .option{
        display: flex;
        flex-direction: row ;
        gap: 20px;
        .inputs{
            height: 50%;
        }
    }
}