.updates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6%;
    left: 0;
    margin: auto;
    background-color: white;
    width: 60%;
    height: 40%;
    z-index: 999;

    .close button{
        display: flex;
        width: 100%;
    }
    .close{
        border:none;
        border-radius: 5px;
        height:25px;
        cursor: pointer;
        float: right;
        width: 25px;
        background-color:#d63e31;
        color: white;


    }

 
    .header{
        display: flex;
        text-align: center;
        justify-content: center;
        h2{
            text-align: center;
        }
        
    }

    .wraper{
        display: flex;
        align-items: center;
        justify-content: center;


        .option{
            display: flex;
            flex-direction: row ;
            align-items: center;
            margin: 0px 10px ;
            gap: 20px;
            .text{
                width: 40%;
            }
            .inputs{
                width: 40%;
                height: 50%;
            }
        }
   
        button{
            border:none;
            border-radius: 5px;
            height:25px;
            width:65px;
            cursor: pointer;
            background-color:#2f71c6;
            color: white;

            
        }
}
}