@import "../../style.scss";

.home{
    flex: 2;
    @include themify($themes) {
        background-color: themed("bgSoft");
        padding:20px 10px;

        @include mobile{
            padding:10px;

        }

    }
}