@import "../../style.scss";


.home{
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        background-color: themed("bgSoft");
        padding:20px 10px;

        @include mobile{
            width:75%;
            padding:10px;

        }

    }
}