@import "../../style.scss";


.comments{
    @include themify($themes) {

        margin: 20px 0px 10px 0px;
        display: flex;
        flex-direction: column;

        .write{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin:20px 0px;
            align-items: center;

            img{
                width: 30px;
                height:30px;
                border-radius: 50%;
                margin-right: 7px;
                object-fit: cover;


            }
            input{
                border: 2px solid themed("border");
                border-radius: 8px;
                width:69%;
                height:35px;
                margin-left: 5px;
                background-color: themed("bg");

            }
            button{
                width: 12%;
                height:40px;
                margin: 0px 20px;
            }
            input:focus{
                border: none;
            }
        }

        .comment{
            display: flex;
            flex-direction: row;
            justify-content: center;

        }
        .profilePic{
            img{
            width: 30px;
            height:30px;
            border-radius: 50%;
            margin-right: 7px;
            object-fit: cover;
            }

        }
        .info{
            width:70%;
            margin-left: 5px;
        }
        .time{
            color: gray;
            font-size: 12px;
            width: 15%;
        }

    }
}

