@import "../../style.scss";


.comments{
    @include themify($themes) {

        margin: 20px 0px 10px 0px;
        display: flex;
        flex-direction: column;

        .write{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin:20px 0px;
            align-items: center;

            img{
                width: 30px;
                height:30px;
                border-radius: 50%;
                margin-right: 7px;
                object-fit: cover;
                
                @include mobile{
                    margin-left: 5px;     
                  }


            }
            input{
                border: 2px solid themed("border");
                border-radius: 5px;
                width:69%;
                height:35px;
                margin-left: 5px;
                background-color: transparent;
                color: themed("textColor");
                font-size: 15px;
                padding-left: 8px;

            }
            input:focus{
                outline: none;
            }
            button{
                width: 12%;
                height:40px;
                margin: 0px 20px;
                background-color:#2f71c6;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                @include mobile{
                    width:17% ;    
                    height:35px;   
                    margin:0px 10px;       
                  }
            }
            
        }

        .comment{
            display: flex;
            flex-direction: row;
            justify-content: center;

        }
        .profilePic{
            img{
            width: 30px;
            height:30px;
            border-radius: 50%;
            margin-right: 7px;
            object-fit: cover;

            @include mobile{
                margin-left: 5px;     
              }
            }
           
        }

        }
        .info{
            width:70%;
            margin-left: 5px;
        }
        .time{
            color: gray;
            font-size: 12px;
            width: 15%;
        }

    
}

