@import "../../style.scss";


.comments{
    @include themify($themes) {
        display: flex;
        flex-direction: column;

        .comment{
            display: flex;
            flex-direction: row;

        }
        .profilePic{
            img{
            width: 30px;
            height:30px;
            border-radius: 50%;
            margin-right: 7px;
            object-fit: cover;
            }

        }
        .info{
            width:70%;
            span{

            }
            p{

            }
        }
        .time{

        }


    }

}