.profile{
    .images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .profilePic{
            width:100px;
            height:100px;


        }
    }
}