.profile{
    .images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .profilePic{
            width:30%;
            height:30%;



        }
    }
}