.profile{
    display: flex;
    flex-direction: column;
    .images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .coverPic{
            width:100%;
            height:300px;
            object-fit: cover;
        }
        .profilePic{
            width:30%;
            height:30%;
            border-radius: 50%;
            margin-top:-90px;

        }
    }

    .container{

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logos{
            display: flex;
            align-items: center;
            justify-content: center;
            gap:10px;
            cursor: pointer;
        }
    }
}