.rightPanel{
    flex:3;
    position:sticky;
    top:55px;
    height: calc(100vh - 55px);
    overflow: scroll;

    .container{
        .item{
            .user{
                display: flex;
                align-items: center;
                justify-content:space-between;

            
            .userInfo{
                display: flex;
                flex-direction: row;
                align-items: center;

                .profile{
                    width: 30px;
                    height:30px;
                    border-radius: 50%;
                    margin-right: 7px;
                    object-fit: cover;
                }
            }

            .buttons{
               border:none;
               border-radius: 10px; 

               .button1{
                background-color:#60b1e8;
               }
            }
        }

        }
    }
}