@import "../../style.scss";



.rightPanel{
    @include themify($themes) {
        width:30%;
        position:sticky;
        top:55px;
        height: calc(100vh - 55px);
        overflow: scroll;
        background-color: themed("bg");

        @include mobile{
            display: none;

        }

        .container{
            padding: 20px 20px 20px 20px;
            .item{
                padding: 10px 0px;
                margin-bottom: 20px;
                background-color: themed("bg");
                box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 15px 0px;
                border-radius: 3px;

                .title{
                    color: themed("textColorSoft");
                   margin: 10px;


                }
                span{
                    color: themed("textColorSoft");
                }

                .user{

                    span{
                        color: themed("textColor");
                    }
                    p{
                        margin: 5px 0px;
                        width:80%;

                        
                
                    }

                    display: flex;
                    align-items: center;
                    justify-content:space-between;
                    padding: 8px 10px;

                    @include tablet{
                        align-items: flex-start;
                        flex-direction: column;
             
                    }

                    .notification{
                        text-align: end;
                        font-size: 12px;
                        color:themed("textColorSoft");
                        width:25%;

                        @include tablet{
                            font-size: 8px;
                            text-align: end;

                
                        }


                    }
                    

                
                 .userInfo{
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    

                    .online{
                        width:10px;
                        height:10px;
                        border-radius: 50%;
                        background-color: limegreen;
                        position:absolute;
                        top: 0;
                        left:25px;
                    }

                    .profile{
                        width: 30px;
                        height:30px;
                        border-radius: 50%;
                        margin-right: 7px;
                        object-fit: cover;
                    }
                    span{
                        font-size: 14px;
                        font-weight: 300;
                        @include tablet{
                            font-size: 11px;
                
                        }
                    }
                    p{
                        color: themed("textColor");
                        font-size: 14px;
                        margin-top: 0px;

                        @include tablet{
                            width:70%;
                            font-size: 10px;
                
                        }

                    }
                }

                .buttons{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    @include tablet{
                       margin-top: 10px;
                       width: 80%;
            
                    }


                    button{
                        border:none;
                        border-radius: 5px;
                        height:25px;
                        width:65px;
                        cursor: pointer;

                        &:first-child{
                            background-color:#2f71c6;
                            color: white;

                        }
                        &:last-child{
                                background-color:#e4e4e4;

                        }
                }
            }
            }

            }
        }
    }
}