.rightPanel{
    flex:4;
    position:sticky;
    top:55px;
    height: calc(100vh - 55px);
    overflow: scroll;

    .container{
        padding: 20px;
        .item{
            padding: 10px;
            margin-bottom: 20px;
            background-color: rgb(255, 255, 255);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            span{
                color: rgb(139, 139, 139);
            }

            .user{

                span{
                    color: black;
                }
                p{
                    margin: 5px 0px;
                    width:90%;
                }

                display: flex;
                align-items: center;
                justify-content:space-between;
                padding: 8px 10px;

                .notification{
                    font-size: 12px;
                    color:rgb(139, 139, 139);
                    width:10%;
                }
                

            
            .userInfo{
                display: flex;
                flex-direction: row;
                align-items: center;

                .profile{
                    width: 30px;
                    height:30px;
                    border-radius: 50%;
                    margin-right: 7px;
                    object-fit: cover;
                }
                span{
                    font-weight: 500;
                }
            }

            .buttons{
                display: flex;
                align-items: center;
                gap: 10px;
                button{
                    border:none;
                    border-radius: 5px;
                    height:25px;
                    width:65px;
                    cursor: pointer;

                    &:first-child{
                        background-color:#2f71c6;
                        color: white;

                    }
                    &:last-child{
                            background-color:#e4e4e4;

                    }
            }
        }
        }

        }
    }
}