.stories{
    display: flex;
    gap:10px;
    height:250px;
    margin-bottom:20px;
    overflow: scroll;

    .story{
        flex:1;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        

        img{
            width:100%;
            height:100%;
            object-fit: cover;


        }
        span{
            bottom: 10px;
            left: 10px;
            position: absolute;
            color: whitesmoke;
    
        }
        button{
            position:absolute;
            color: white;
            background-color: rgba(25, 89, 167, 0.81);
            left: 10px;
            bottom: 40px;
            border: none;
            border-radius: 50%;
            width:20px;
            height:20px;
            cursor: pointer;
            justify-content: center;
        }

    }
   
}