@import "../../style.scss";


.posts{
    @include themify($themes) {
        display: flex;
        flex-direction: column;

        
        gap: 30px;

    .post{
        background-color: themed("bg");
        display: flex;
        flex-direction: column;

        .user{
            display: flex;
            align-items: center;
            justify-content:left;
            margin:10px;

            .profile{
                width: 30px;
                height:30px;
                border-radius: 50%;
                margin-right: 7px;
                object-fit: cover;
            }

            span{
                font-size: 14px;
                font-weight: 300;
                margin-left: 3px;


            }
         }
         .postInfo{
            display: flex;
            justify-content: center;
         }
    img{
        width:75%;

    }
    p{

    }

    }
}
}