.posts{
    .post{
        .user{
            display: flex;
            justify-content: center;
        .profile{
            width: 30px;
            height:30px;
            border-radius: 50%;
            margin-right: 7px;
            object-fit: cover;
        }

       
        span{
            font-size: 14px;
            font-weight: 300;
            margin-left: 3px;


        }
    }
    img{

    }

    }
}