@import "../../style.scss";


.posts{
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
        gap: 50px;

    .post{
        width:90%;
        background-color: themed("bg");
        display: flex;
        flex-direction: column;

        .user{
            display: flex;
            align-items: center;
            justify-content:space-between;
            margin:10px;

            .userInfo{
                display: flex;
                flex-direction: column;

                span{
                    font-size: 10px;
                }

                .details{
                    display: flex;

                    .profile{
                        width: 30px;
                        height:30px;
                        border-radius: 50%;
                        margin-right: 7px;
                        object-fit: cover;
                    }
        
                    span{
                        font-size: 14px;
                        font-weight: 300;
                        margin-left: 3px;
        
        
                    }
    

                }

               
            }

            
         }
         .postInfo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         }
    img{
        width:85%;
        height: 80%;

    }
    p{

    }

    }
}
}