.login{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;

    .card{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width:75%;
        margin:20% 10%;

        .left{
            width:50%;
        }
        .right{
            width:50%;
        }
    }
}